.container-createpost-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-width: 90%;
    z-index: 9999;
}
.container-createpost-modal textarea{
width: 90%;
height: 4cm;
margin-bottom: 10px;
border: 0px solid ;
background-color:rgb(235, 253, 253) ;
padding: 10px;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
font-size: 14px;

}
.container-createpost-modal button{
    margin-right: 10px;

}
.container-createpost-modal button:nth-child(3){
padding: 0px 15px 0px 15px;
}
