.container-profile-editModal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:rgb(228, 254, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-width: 90%;
    z-index: 9999;
    
}
.container-profile-editModal h2{
    text-align: center;
}
.container-profile-editModal input{
    width: 70%;
    height: 20px;
    border: .1px  solid skyblue;
}
.container-profile-editModal-images-link{
    display: flex;
}
.container-profile-editModal-images-link li {
    flex-wrap: wrap;
}


.container-profile-editModal-images{
    width: 50px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    
    
    
}
.container-profile-editModal-images:hover{
    width: 50px;
    cursor: pointer;
    transform: scale(1.1);
    
    
    
}
.container-profile-editModal button{
    margin-top: 20px;
    margin-left: 10px;
}