.container-bookmark{
    background-color: rgb(235, 253, 253);
    width: 26.2cm;
    padding: 20px;
    position: relative;
    bottom: 37.66cm;
    right: -6.8cm;
}
.container-bookmark>h3{
    font-size: 30px;
    text-align: center;
}

.bookmark-list{
    width: 80%;
    margin-left: 1cm;
    margin-top: 3cm;
}

.bookmark-list>li>button{
    background-color:rgb(235, 253, 253) ;
    color: black;
    font-size: 20px;
   margin: 0cm 1cm 0cm 1.5cm;
    
}
.bookmark-list>li>button:hover{
    color: orange;
    transform: scale(1.1);
    
}
.empty-bookmark{
    background-color: rgb(235, 253, 253);
    width: 26.2cm;
    padding: 20px;
    position: relative;
    bottom: 38.5cm;
    right: -6.8cm;
    font-size: 30px;
    text-align: center;
}
/* end foe desktop-------------------------------------------------------------------- */

@media screen and (min-width: 360px) and (max-width: 768px) {
    .container-bookmark{
        background-color: rgb(235, 253, 253);
        width: 10cm;
        padding: 20px;
        position: relative;
        bottom: 36cm;
        right: -2.3cm;
    }
    .container-bookmark>h3{
        font-size: 20px;
        text-align: center;
    }
    
    .bookmark-list{
        width: 80%;
        margin-left: 1cm;
        margin-top: 3cm;
    }
    .bookmark-list>li>h3{
        font-size: 15px;
        margin-bottom: -10px;
    }
    .bookmark-list>li>p{
        font-size: 10px;
    }
    
    .bookmark-list>li>button{
        background-color:rgb(235, 253, 253) ;
        color: black;
        font-size: 15px;
       margin: 0cm 0cm 0cm 1cm;
        
    }
    
    .bookmark-list>li>button:hover{
        color: orange;
        transform: scale(1.1);
        
    }
    .empty-bookmark{
        background-color: rgb(235, 253, 253);
        width: 10cm;
        padding: 20px;
        position: relative;
        bottom: 36.5cm;
        right: -2cm;
        font-size: 20px;
        text-align: center;
    }
  }



