.home{
    
    

}
.homepage-container{
    background-color: rgb(235, 253, 253);
    width: 26.2cm;
    padding: 20px;
    position: relative;
    bottom: 37.66cm;
    right: -6.8cm;
}
.comments-container>input{
    width: 80%;
    height: 2cm;
    margin-left: 1cm;
    background-color: aliceblue;
    border-radius: 5px;

}
.comments-container>button{
    width: 80px;
    height: 40px;
    padding: 10px;
   position: relative;
   top: 2cm;
   right: 2.1cm;

}
.homepage-container-filter-sort{
    margin-left: 30px;
}
.homepage-container-filter-sort button{
    margin-top: 20px;
    margin-left: 10px;
}
.allPosts-container{
    width: 80%;
    margin-left: 1cm;
    margin-top: 3cm;
}
.allPosts-container>li>p:nth-child(1){
    font-size: 20px;
    color: rgb(54, 54, 54);
}
.allPosts-container-span1{
    font-size:10px;position:relative;top:-1.1cm;right:-3.4cm;
}
.allPosts-container>li>button{
    background-color:rgb(235, 253, 253) ;
    color: black;
    font-size: 20px;
   margin: 0cm 1cm 0cm 1.5cm;
    
}
.allPosts-container-span2{
    margin-left: -.5cm;
}
.allPosts-container>li>button:hover{
    color: orange;
    transform: scale(1.1);
    
}

/*end of design for desktop-----------------------------------------------------------------------------------------------------  */
@media screen and (min-width: 360px) and (max-width: 768px) {
    .home{
    
    

    }
    .homepage-container{
        background-color: rgb(235, 253, 253);
        width: 10cm;
        padding: 20px;
        position: relative;
        bottom: 35.7cm;
        right: -2.3cm;
    }
    .comments-container>input{
        width: 80%;
        height: 1cm;
        margin-left: 1cm;
        background-color: aliceblue;
        border-radius: 5px;
    
    }
    .comments-container>button{
        font-size: 10px;
        width: 50px;
        height: 30px;
        padding: 10px;
       position: relative;
       top: .5cm;
       right:-8cm;
    
    }
    .homepage-container-filter-sort{
        margin-left: 30px;
    }
    .homepage-container-filter-sort button{
        margin-top: -20px;
        margin-left: 10px;
        font-size: 10px;
        width: 50px;
        height: 30px;

    }
    .allPosts-container{
        width: 80%;
        margin-left: 1cm;
        margin-top: 1cm;
    }
    .allPosts-container-p1{
        font-size: 10px;
        color: rgb(54, 54, 54);
        margin-bottom: 10px;
    }
    .allPosts-container-p2{
        font-size: 13px;
        
    }
    .allPosts-container-span1{
        font-size:10px;position:relative;top:-.2cm;right:-3.1cm;
    }
    .allPosts-container>li>h3{
        font-size: 15px;
        margin-bottom: -15px;
    }
    .allPosts-container>li>button{
        background-color:rgb(235, 253, 253) ;
        color: black;
        font-size: 15px;
       margin: 0cm 0cm 0cm .5cm;
        
    }
    .allPosts-container>li>button:hover{
        color: orange;
        transform: scale(1.1);
        
    }
    .allPosts-container-span2{
        margin-left: 0cm;
    }
    
  }



