


    
    
.container-user-details{
    background-color: rgb(235, 253, 253);
    width: 26.2cm;
    padding: 20px;
    position: relative;
    bottom: 37.66cm;
    right: -6.8cm;
}

.container-user-posts>button{
    width: 80px;
    height: 40px;
    padding: 10px;
   position: relative;
   top: 2cm;
   right: 2.1cm;

}
.container-user-posts{
    width: 80%;
    margin-left: 1cm;
    margin-top: 3cm;
}
.container-user-posts-h{
    font-size: 30px;
    color: rgb(48, 8, 8);
   text-align: center;
  
    
    
}
.container-user-posts-p1{
    font-size: 15px;
    color: rgb(73, 73, 73);
   text-align: center;
   position: absolute;
   top: 80px;
       right: 13cm;

}
.container-user-posts-span{
    margin-left: -.5cm;
}
.container-user-posts-bttn-1{
    padding: 0px 10px 0px 10px;
    position: absolute;
    top: 120px;
        right: 13.6cm;

}
.container-user-posts-bttn-w{
    background-color:rgb(235, 253, 253) ;
    color: black;
    font-size: 20px;
   margin: 0cm 1cm 0cm 1.5cm;
    
}

/* end foe desktop-------------------------------------------------------------------- */

@media screen and (min-width: 360px) and (max-width: 768px) {
    .container-user-details{
        background-color: rgb(235, 253, 253);
        width: 10cm;
        padding: 20px;
        position: relative;
        bottom: 35.7cm;
        right: -2.3cm;
    }
    
    .container-user-posts>button{
        width: 50px;
        height: 20px;
        padding: 10px;
       position: relative;
       
    
    }
    .container-user-posts{
        width: 80%;
        margin-left: 1cm;
        margin-top: 1cm;
    }
    .container-user-posts-h{
        font-size: 20px;
        color: rgb(48, 8, 8);
       text-align: center;
      
        
        
    }
    .container-user-posts-p1{
        font-size: 10px;
        color: rgb(73, 73, 73);
       text-align: center;
       position: absolute;
       top: 60px;
           right: 4.5cm;
    
    }
    .container-user-posts-p2,.container-user-posts-p3{
        font-size: 13px;
    }
    .container-user-posts-p4{
        font-size: 10px;
    }
    .container-user-posts-span{
        margin-left: 0cm;
    }
    .container-user-posts-bttn-1{
        padding: 0px 10px 0px 10px;
        position: absolute;
        top: 2.5cm;
            right: 4.5cm;
            height: 20px;
    
    }
    .container-user-posts-bttn-w{
        background-color:rgb(235, 253, 253) ;
        color: black;
        font-size: 15px;
       margin: 0cm 0cm 0cm .5cm;
        
    }
  }



