/*universal------*/
li{
    list-style-type: none;
}
button{
    height: 1cm;
    color:white;
    background-color: rgb(188, 124, 4);
    border: 0px solid;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
button:hover{
    color: orange;
    transform: scale(1.1);
}
